@import url('color.css');

#login-form {
  max-width: max-content;
  margin: auto;
}

#login-form>article {
  max-width: max-content;
  margin: auto;
  margin-top: 20px;
  padding: 30px 25px;
  background: var(--button-background-white);
  box-shadow: 0.06rem 0.13rem 0.5rem 0.13rem var(--border-black-dark);
}

#login-form label {
  font-weight: 600;
  padding-right: 10px;
}

#logo {
  max-width: 600px;
  width: 100%;
  margin: auto;
}

img {
  width: 100%;
}

form.input-field {}

#login-button {
  height: 45px;
  width: 100px;
  margin: auto;
  margin-top: 20px;
}

#login-button>button {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--button-background);
  color: var(--button-text-color);
  font-weight: 600;
  cursor: pointer;
  border: var(--border-black-dark) solid 1px;
  transition-duration: 0.5s;
}

#login-button:hover {
  background-color: var(--accent-color-corp);
}


.alert-box {
  width: 0%;
  transition-duration: 0.5s;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
  /* Adjust duration and timing function as needed */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fail {
  width: auto;
  text-align: center;
  color: white;
  box-shadow: 0.06rem 0.13rem 0.5rem 0.13rem var(--border-black-dark);
  padding: 0.31rem;
  background-color: #5c0000;
}

.info {
  width: auto;
  text-align: center;
  color: #000;
  box-shadow: 0.06rem 0.13rem 0.5rem 0.13rem #ddffff;
  padding: 0.31rem;
  background-color: #ddffff;
  border: #a4d9ff solid 3px;
}

.ok {
  width: auto;
  color: #000;
  box-shadow: 0.06rem 0.13rem 0.5rem 0.13rem #ddffdd;
  padding: 0.31rem;
  text-align: center;
  background-color: #ddffdd;
  border: #92c692 solid 3px;
}

/* Button  */
.orange-button {
  padding: 0.63rem 1.25rem;
  background: var(--button-background);
  color: var(--button-text-color);
  border: none;
  font-weight: 600;
  margin: 0.63rem 0;
  transition-duration: 0.5s;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
    /* Adjust font size for mobile */
    height: auto;
    /* Adjust height to prevent overflow */
    /* Add any other mobile-specific styles here */
  }
}