/* #vis_pass {
    all: unset;
    position: absolute;
    align-self: center;
right: 5px;
top: 50%;
transform: translateY(-50%);
}

#vis_pass>img {
    height: 15px;
    align-self: center;
    margin-top: 4px;
}

*/