Source: moduline-webui
Section: misc
Priority: optional
Maintainer: Maud Spierings <maudspierings@gocontroll.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-python3,
 python3-setuptools,
 python3-all,
#Testsuite: autopkgtest-pkg-python
Standards-Version: 4.6.2
Homepage: https://gocontroll.com
Vcs-Browser: https://github.com/gocontroll/moduline-webui
Vcs-Git: https://github.com/gocontroll/moduline-webui.git

Package: python3-moduline-webui
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends},
 python3-microdot,
Description: A web UI to configure GOcontroll Moduline controllers (Python 3)
 .
 This package installs the library for Python 3.

